.simple-form {
  min-width: 440px;
  width: 440px;
  margin: 40px 64px;

  & &__title {
    // Typography starts
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-l);
    line-height: 40px;
    letter-spacing: -0.01em;
    // Typography ends

    max-width: 227px;
    margin: 0 0 40px;
  }

  & &__flex-container {
    display: flex;
    gap: 14px;

    &--column {
      flex-direction: column;
      gap: 0;
    }

    &--column-left {
      width: 80%;
    }
  }

  & &__input {
    // Typography starts
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-s);
    // Typography ends

    display: block;
    width: 100%;
    max-width: 440px;
    height: 56px;
    padding: 20px 32px 19px;
    margin-bottom: 14px;
    background: transparent;
    color: var(--color-white-100);
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);
    transition: border 0.2s;

    &:nth-child(1) {
      margin-bottom: 0;
    }

    &:focus {
      //   outline: 1px solid var(--single-label-border-color-hover);
      outline: none;
      border: 1px solid var(--border-color);
    }
  }
}

@media (max-width: 1023px) {
  .simple-form {
    & &__title {
      text-align: center;
      margin: 72px auto 40px;
    }
  }
}

@media (max-width: 501px) {
  .simple-form {
    min-width: auto;
    max-width: 375px;
    width: 100%;
    margin-top: 36px;
    margin-inline: 0;
    padding-inline: 16px;

    & &__title {
      // Typography starts
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      // Typography ends

      margin: 0px 0 32px;
    }

    & &__flex-container {
      &--column-left {
        width: 113%;
      }
    }

    & &__input {
      max-width: none;
    }
  }
}

@media (max-width: 357px) {
  .simple-form {
    & &__flex-container {
      &--column-left {
        width: 150%;
      }
    }

    & &__input {
      padding-inline: 24px;
    }
  }
}

@media (max-width: 316px) {
  .simple-form {
    & &__flex-container {
      &--column-left {
        width: 190%;
      }
    }

    & &__input {
      padding-inline: 18px;
    }
  }
}
